<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container card-sh" style="margin-top: 70px">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <img alt="pic" src="/img/product_img/laptop.jpg" width="330px" height="400px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>